/*/* block for all page styles */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }
html{
    background: url("../img/background.png");
}
.main-block-paddings{
  padding: 10px 20px;
  box-sizing: border-box;
}
.main-block-style{
  background-color: white;
  display: block;
  margin-top: 50px;
}
.row{
  margin: 0 !important;
}

/* navigation block */
.navbar-decor{
  background: #9b5d90 !important;
}
.logo-size{
  height: 40px;
  margin-top: 15px;
  padding-left: 15px;
}
.menu-title{
  color: white !important;
}
 /*carusel block */
/* about-us block */
.about-us_text {
  font-size: 20px;
  line-height: 1.5;
}
/*div{
  color: blue; }*/
/* categories(programs) block */
.foto{
/*width: 305px;
height: 200px;
overflow: hidden;*/
/*border: 1px solid red;*/
/*margin-bottom: 21px; */
margin-left: 10px;
margin-bottom: 5px;
}
.programms_name{
    display:inline-block;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;   
    left:50%;
    font-size: 24px;
    color: white;
    /*width: 100%;*/
    text-align: center;
}
.programms_name_mini{
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 24px;
  color: white;
}
.img-responsive {
  width: 100%;
}
/*.img_align{
  width: auto;
}*/
/*.foto_day{
  display:inline-block;
    position: relative;
    top: 0px;   
    left:-55px;
    font-size: 24px;
    color: white;
}*/
.foto_sadik {
  /*border: 1px solid green;*/
  width: 100%;
  height: auto;
  display:inline-block;
}
.sadik_text{
  float: right;
  display:inline-block;
    position: relative;
    right: 5px;
}
.sadik_padding{
   padding: 0px;
    padding-right: 22px;
}
.sadik_font{
  font-size: 1.7em;
}
.englishh{
  font-size: 2.75em;
  margin-right: 30px;
}
.sadik_prod{

}
/* collective block */
.employe-photo {
  margin: 0 auto;
  height: 230px;
  width: 230px;
}
.unlined-title {
  border-top: 1px solid grey;
  padding-top: 20px;
}
p {
  font-family: Roboto;
}
/* footer block */
footer{
  background-color: #9b5d90;
  color: white;
}
input {
  margin-top: 20px;
  padding: 5px;
  border: solid 2px white;
  border-radius: 5px;
}
i {
  margin-left: 20px;
  margin-right: 5px;
}
.address {
  padding-top: 20px;
}
/*footer::after{
  content:"";
  display: block;
}*/
.socials {
  float: right;
  margin-right: 15px;/* right instead left*/
  height: 20px;/*need size*/
  width: 20px;/*need size*/
}
.message{
  width: 100%;
}
.info-f{}
.info-b{}
.map {
  padding-top: 20px;
}


.ul_margin_top{
  margin-top: 10px;
}
.form-control{
  margin-bottom: 10px;
  margin-top: 10px;

}
